*secret*
inventory.ini
.env
vars.yaml
vars.yml
logs
inventory
*.pem
*.crt
*.sqlite
*.rdb
*.key
todo.md
data/
*.tfvars
*.lock.hcl
.terraform
terraform.tfstate*
*.srl
*.csr
*.ext
hosts
Docker/homarr/configs/*
Docker/lab-dash/config/*
