---
- name: Remote Commands for cleaning production servers
  hosts: prod_servers
  become: true
  tasks:

    - name: Run cleanup script on servers
      ansible.builtin.shell: |
        apt clean
        apt autoclean
        apt autoremove -y

        find /var/log -type f -name "*.gz" -delete
        find /var/log -type f -name "*.1" -delete

        truncate -s 0 /var/log/syslog
        truncate -s 0 /var/log/auth.log

        journalctl --vacuum-size=100M
        journalctl --vacuum-time=7d

        docker system prune -a -f

        rm -rf /var/lib/apt/lists/*
        apt update
      register: cleanup_status

    - name: Notify gotify  on failure
      ansible.builtin.uri:
        url: "{{ gotify_webhook_url }}"
        method: POST
        headers:
          Content-Type: "application/json"
        body_format: json
        body:
          content: "There was an error cleaning production servers. Exit code: {{ cleanup_status.rc }}"
        status_code: 204
      when: cleanup_status.rc != 0
