---
- name: Trigger Proxmox vzdump via CLI
  hosts: proxmox_prod_1
  gather_facts: no
  become: yes
  vars:
    backup_vms:
      - 103
      - 107
      - 105
  tasks:
    - name: Run vzdump backup on each VM
      ansible.builtin.command: >
        vzdump {{ item }} 
        --storage omv_proxmox_backup 
        --mode snapshot 
        --compress zstd
        --prune-backups keep-last=3
      loop: "{{ backup_vms }}"
