---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: uptime-kuma
  namespace: uptime-kuma
spec:
  replicas: 1
  selector:
    matchLabels:
      app: uptime-kuma
  template:
    metadata:
      labels:
        app: uptime-kuma
    spec:
      dnsPolicy: None
      dnsConfig:
        nameservers:
          - 10.0.20.16   # Pi-hole IP
      containers:
      - name: uptime-kuma
        image: louislam/uptime-kuma:latest
        ports:
          - containerPort: 3001
        volumeMounts:
          - name: kuma-data
            mountPath: /app/data
      volumes:
      - name: kuma-data
        persistentVolumeClaim:
          claimName: uptime-kuma-pvc
