---
- Self-Hosted:
    - Pihole:
        href: https://pi.hole/admin/login
        description: admin pi-hole home DNS
        icon: pi-hole.png

    - Vaultwarden:
        href: https://vaultwarden.local
        description: Vaultwarden password manager
        ping: https://vaultwarden.local
        icon: vaultwarden.png

- Tailscale-Network:
    - pi-prod-1:
        href: https://login.tailscale.com/admin/machines
        description: Tailscale server Network
        ping: 100.64.77.108
        icon: tailscale.png
        widget:
          type: tailscale
          deviceid: {{HOMEPAGE_VAR_TAILSCALE_DEVICE_ID_1}}
          key: {{HOMEPAGE_VAR_TAILSCALE_API_KEY}}

    - pi-prod-2:
        href: https://login.tailscale.com/admin/machines
        description: Tailscale server Network
        ping: 100.80.200.70
        icon: tailscale.png
        widget:
          type: tailscale
          deviceid: {{HOMEPAGE_VAR_TAILSCALE_DEVICE_ID_2}}
          key: {{HOMEPAGE_VAR_TAILSCALE_API_KEY}}

    # - motorola-moto-g-pure:
    #     href: https://login.tailscale.com/admin/machines
    #     description: Tailscale server Network 
    #     ping: motorola-moto-g-pure.sokoke-centauri.ts.net
    #     icon: tailscale.png
    #     widget:
    #       type: tailscale
    #       deviceid: {{HOMEPAGE_VAR_TAILSCALE_DEVICE_ID_3}}
    #       key: {{HOMEPAGE_VAR_TAILSCALE_API_KEY}}

- Netdata-monitoring:
  - pi-prod-1:
      href: http://100.64.77.108:19999
      description: Netdata device Monitor
      icon: netdata.png
      siteMonitor: http://100.64.77.108:19999
      widget:
        type: netdata
        url: http://100.64.77.108:19999
        warnings: true
        criticals: true

  - pi-prod-2:
      href: http://100.80.200.70:19999
      description: Netdata device Monitor
      icon: netdata.png
      siteMonitor: http://100.80.200.70:19999
      widget:
        type: netdata
        url: http://100.80.200.70:19999
        warnings: true
        criticals: true
