---
- name: unban IPs from fail2ban on a remote machine
  hosts: test_vm
  become: true
  gather_facts: false
  vars:
     ip_to_unban: 1.2.3.4
  tasks:
    - name: Check if IP is banned
      ansible.builtin.shell: fail2ban-client status sshd | grep "{{ ip_to_unban }}"
      register: ip_check
      ignore_errors: yes

    - name: Unban IP
      ansible.builtin.shell: fail2ban-client set sshd unbanip "{{ ip_to_unban }}"
      when: ip_check.rc == 0
