version: "3.9"
services:
  mariadb:
    image: mariadb:10.6
    container_name: fleet-mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "${FLEET_DB_ROOT}"
      MYSQL_DATABASE: "${FLEET_DB_NAME}"
      MYSQL_USER: "${FLEET_DB_USER}"
      MYSQL_PASSWORD: "${FLEET_DB_PASSWORD}"
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"

  fleet:
    image: fleetdm/fleet:latest
    container_name: fleet
    depends_on:
      - mariadb
    restart: always
    environment:
      FLEET_DATABASE_URI: "${FLEET_DB_USER}:${FLEET_DB_PASSWORD}@tcp(mariadb:3306)/${FLEET_DB_NAME}?parseTime=true"
      FLEET_SERVER_ADDRESS: ":8080"
      FLEET_SERVER_NO_TLS: "true"
    ports:
      - "8080:8080"
    volumes:
      - fleet-data:/var/lib/fleet

volumes:
  db_data:
  fleet-data:
